<a href="https://colab.research.google.com/github/simsekergun/ENEE691/blob/main/PANDAS/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Pandas
### What's pandas?
 - Pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. <br>
 - Pandas is part of the Anaconda distribution and can be installed with Anaconda (e.g. <code> conda install pandas </code>) or via pip (<code> pip install pandas</code>) <br>
 - When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool (assuming not so large files). <br>
pandas help us to explore, clean, and process our data. <br>
 - In pandas, a data table is called a DataFrame.  <br>
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_dataframe.svg" width="600">

 - pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,â€¦). Importing data from each of these data sources is provided by function with the prefix <span style="color: red;">read_*</span>. Similarly, the <span style="color: red;">to_*</span> methods are used to store data <br> [e.g. <code> sales = pd.read_csv("sales_data.csv" </code>) ] <br>
<img src="https://pandas.pydata.org/pandas-docs/stable/_images/02_io_readwrite.svg" width="800">

Before working with different datasets, let's learn the basics.

Very useful 2-pages:
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

Pandas module is huge: 
https://pandas.pydata.org/docs/reference/

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Object Creation

In [ ]:
s = pd.Series([1, 'Mike', 5, np.nan, 6, 8])
s

In [ ]:
dates = pd.date_range('20190101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

In [ ]:
df2.dtypes

### Viewing Data

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df.sample(2)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
 df.describe()

<div> <img src = "https://online.stat.psu.edu/stat500/sites/stat500/files/inline-images/500%20l1%2025th%20and%2075th%20percentile.png", width=600 />
</div>

In [ ]:
df.T

In [ ]:
df

In [ ]:
df.sort_index(axis=0, ascending=False)

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by='B')

### SELECTION

In [ ]:
df['A']

In [ ]:
df.A

In [ ]:
df[0:3]

In [ ]:
df['20190102':'20190104']

#### Selection by Label

In [ ]:
# remember "dates"
dates

In [ ]:
df.loc[dates[2]]

In [ ]:
df.loc[:, ['A', 'B']]

In [ ]:
df.loc['20190102':'20190104', ['A', 'B']]

In [ ]:
df.loc['20190102', ['A', 'B']]

In [ ]:
df.loc[dates[0], 'A']

In [ ]:
df.at[dates[0], 'A']

#### Selection by Position

In [ ]:
df

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[:, 1]

### Boolean Indexing

In [ ]:
df

In [ ]:
df4 = df[df.B > 0]
df4

In [ ]:
df[df > 0]

In [ ]:
# unless the entire column is full of NANs, then you will operate on non-NAN variables
df[df > 0].mean()

In [ ]:
# to operate on columns
df[df > 0].mean(axis=1)

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

In [ ]:
df2[df2['E'].isin(['two', 'four'])]

###  Setting

In [ ]:
df

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20190102', periods=6))
s1

In [ ]:
df['F'] = s1

In [ ]:
df

In [ ]:
df.at[dates[0], 'F'] = 999
df

In [ ]:
np.array([5] * 3)

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

## MISSING DATA
pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
df

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['G'])
df1

In [ ]:
df1.loc[0:2, 'G'] = 2
df1

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isna(df1)

## Operations

In [ ]:
df

### Statistics

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
dates = pd.date_range('20190101', periods=6)
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

### Apply

In [ ]:
df

In [ ]:
# sum along the columns 
df.apply(np.cumsum)

In [ ]:
# finding ranges along columns
df.apply(lambda x: x.max() - x.min())

## MERGING

#### CONCAT

In [ ]:
df = pd.DataFrame(np.random.randn(6, 6))
df

In [ ]:
df[:2]

In [ ]:
type(df[:2])

In [ ]:
# get a list
[df[:2]]

In [ ]:
type([df[:2]])

In [ ]:
pieces = [df[:2], df[4:6]]
pieces

In [ ]:
pd.concat(pieces)

#### JOIN
SQL style merges

In [ ]:
width = pd.DataFrame({'Substrate': ['Silicon', 'Glass'], 'TE Resonance': [512, 532]})
width

In [ ]:
length = pd.DataFrame({'Substrate': ['Silicon', 'Glass'], 'TM Resonance': [488, 520]})
length

In [ ]:
pd.merge(width, length, on='Substrate')

### APPEND

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
s = pd.DataFrame(np.random.randn(2, 4), columns=['A', 'B', 'C', 'D'])
df.append(s, ignore_index=True)

## GROUPING

In [ ]:
df = pd.DataFrame({'Polarization': ['TE', 'TM', 'TE', 'TM',
                         'TE', 'TM', 'TE', 'TE'],
                   'Metal': ['Ag', 'Ag', 'Au', 'Cu',
                         'Au', 'Au', 'Ag', 'Cu'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

In [ ]:
df.groupby('Polarization').mean()

In [ ]:
df.groupby('Metal').mean()

In [ ]:
df.groupby(['Polarization', 'Metal']).sum()

## Reshaping (Hierarchical Data)

In [ ]:
tuples = list(zip(*[['Silicon', 'Silicon', 'Quartz', 'Quartz',
                     'GaN', 'GaN', 'Diamond', 'Diamond'],
                    ['TE', 'TM', 'TE', 'TM',
                     'TE', 'TM', 'TE', 'TM']]))
print(tuples)

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['substrate', 'polarization'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['Au', 'Ag'])
df

In [ ]:
df2 = df[:4]
df2

#### STACK (Hierarchical Data)

Pandas provides various built-in methods for reshaping DataFrame. Among them, `stack()` and `unstack()` are the 2 most popular methods for restructuring columns and rows.

`stack():` stack the prescribed level(s) from column to row. <br>
`unstack():` unstack the prescribed level(s) from row to column. The inverse operation from stack.

![An image](https://github.com/simsekergun/ENEE691/raw/main/PANDAS/stackunstack.png)

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack(level=-1) # default mode

In [ ]:
stacked.unstack() # same as unstack(-1)

In [ ]:
stacked.unstack(0)

In [ ]:
stacked.unstack([0, 1])

In [ ]:
stacked.unstack([1, 0])

In [ ]:
stacked.unstack([1, 2])

In [ ]:
# Remember df2
df2

In [ ]:
stacked.unstack(0)

### PIVOT TABLES
Return reshaped DataFrame organized by given index / column values.

In [ ]:
df = pd.DataFrame({'A': ['Silicon', 'Quartz', 'GaN', 'Diamond'] * 3,
                   'B': ['Au', 'Ag', 'Cu'] * 4,
                   'C': ['TE', 'TE', 'TE', 'TM', 'TM', 'TM'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

## TIME SERIES

In [ ]:
# S ==> seconds
rng = pd.date_range('6/1/2019', periods=300, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
# let's calculate averages over 1 minute
ts.resample('1Min').mean()

In [ ]:
# let's calculate averages over 2 minute
ts.resample('2Min').mean()

In [ ]:
rng = pd.date_range('3/6/2019 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
# This method takes a time zone (tz) naive Datetime Array/Index object and 
# makes this time zone aware. It does not move the time to another time zone.
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_est = ts.tz_localize('EST')
ts_est

In [ ]:
# to convert tz-aware Datetime Array/Index from one time zone to another.
ts_est.tz_convert('Pacific/Honolulu')

In [ ]:
import pytz
len(pytz.all_timezones)

In [ ]:
pytz.country_timezones('US')

In [ ]:
rng = pd.date_range('1/1/2019', periods=7, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
# Convert Series from DatetimeIndex to PeriodIndex.
ps = ts.to_period()
ps

In [ ]:
# Cast to DatetimeIndex of Timestamps, at beginning of period.
ps.to_timestamp()

## CATEGORICALS

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                              "good", "very good"])
df

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

## Plotting

In [ ]:
ts = pd.Series(np.random.randn(3650),
                index=pd.date_range('1/1/2000', periods=3650))
ts.plot()

In [ ]:
ts = ts.cumsum()
ts.plot()

In [ ]:
df = pd.DataFrame(np.random.randn(3650, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure()
df.plot()
plt.legend(loc='best')

## GETTING DATA IN/OUT

### CSV

In [ ]:
df

In [ ]:
df.to_csv('blood_data.csv')

In [ ]:
pd.read_csv('blood_data.csv')

In [ ]:
# To download it to your local machine!
from google.colab import files
files.download('blood_data.csv')

### Excel

In [ ]:
df.to_excel('blood_data.xlsx', sheet_name='Sheet1')

In [ ]:
pd.read_excel('blood_data.xlsx')

In [ ]:
!ls